body {
    background: azure;
    height: 750px;
    width: 1250px;
    border: solid black 10px;
    margin: auto;

}

#container {
    margin-top: 24px;
    margin-left: 24px;
}

li {
    list-style-type: none;
    margin-left: -14px;
    margin-top: auto;
}

header {
    text-align: center;
    align-content: center;
    height: 75px;
    width: 1000px;
    margin-left: 200px;
    border: solid black 2px;
    background: beige;
}

#connection_status_php {
    text-align: center;
    align-content: center;
    position: fixed;
    width: 180px;
    height: 20px;
    border: solid black 2px;
    margin-top: -93px;
    background: yellowgreen;
}

#connection_status_login {
    text-align: center;
    align-content: center;
    position: fixed;
    width: 180px;
    height: 20px;
    border: solid black 2px;
    margin-top: -67px;
    background: yellowgreen;

}

#connection_status_js {
    text-align: center;
    align-content: center;
    position: fixed;
    width: 180px;
    height: 20px;
    border: solid black 2px;
    margin-top: -40px;
    background: yellowgreen;

}

.welcome {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.auth_fields {
    width: 200px;
    height: 35px;
    font-size: 16px;
    text-align: center;
}

.auth_butt {
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    height: 35px;
}

.stats {
    background: yellowgreen;

}

#main_menu {
    width: 180px;
    height: 600px;
    margin-top: 5px;
    position: fixed;
    z-index: 1000;
    border: solid black 2px;
    background: beige;
}

#content {
    width: 1000px;
    height: 600px;
    margin-left: 200px;
    margin-top: 20px;
    border: solid black 2px;
    overflow: auto;
}

#content_auth {
    width: 1200px;
    height: 600px;
    margin-top: 20px;
    border: solid black 2px;
    text-align: center;
}

form {
    margin-top: 100px;
}

.menu_butt {
    margin-top: 10px;
    width: 125px;
    height: 25px;
}

table {
    width: 940px;
    margin-left: 30px;
    margin-top: 30px;
}

td {
    text-align: center;
    border: solid black 1px;
}

.auth {
    margin-top: 100px;
    text-align: center;
    position: fixed;
}