
body {
    margin-left: 35%;
    background-color: lightslategrey;
}

#game {
    width: 450px;
    height: 450px;
    background: #2b2b2b;
    color: #cb772f;
}

.block {
    width: 150px;
    height: 150px;
    float: left;
    border: 1px solid grey;
    box-sizing: border-box;
    line-height: 150px;
    text-align: center;
    font-size: 125px;
}

#scoreBoard {
    width: 450px;
    height: 200px;

    text-align: center;
    font-size: 50px;
}

table {
    text-align: center;
    width: 450px;
    background: darkgray;
}

#reset {
    cursor: pointers;
}